{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist - Online Library</title>
    <link rel="stylesheet" href="{% static 'Styles/HomeStyles.css' %}">
    <link rel="stylesheet" href="{% static 'Styles/Inventory.css' %}">
    <!--<script src="{% static 'JavaScripts/buttonScript.js' %}" defer></script>-->
    <script src="{% static 'JavaScripts/DynamicHome.js' %}" defer></script>
    <script src="{% static 'JavaScripts/DarkmodeButton.js' %}" defer></script>
    <script src="{% static 'JavaScripts/Inventory.js' %}" defer></script>
    
</head>
<body>
    <button id="darkModeToggle">🌞🌛</button>
    <header> 
        <nav class="NavHome">
            <div class="title">FCAI Library</div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="defaultview.html">Home</a></li>
                    <li><a href="search.html">Search</a></li>
                    <li><a href="BookListing.html">View Books</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="signup.html">Sign Up</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li> 
                </ul>
            </div>
        </nav>
    </header>
    <header>
        <h1>Inventory Items</h1>
    </header>
    <main>   
        <div class="inventory-items"></div> 
    </main>
    <footer class="footer">
        <div class="Copywrite">&copy; 2024 FCAI Online Library</div>
    </footer>
</body>
</html>