{% extends 'layouts/base.html' %}
{% load static %}


{% block extrastyle %}
<link rel="stylesheet" href="../static/Styles/Form.css" />
{% comment %} <link rel="stylesheet" href="{% static 'Styles/Form.css' %}" /> {% endcomment %}
{% endblock extrastyle %}


{% block extrahead %}
<title>Login - Online Library</title>
{% endblock extrahead %}


{% block header %}
  <button id="darkModeToggle">🌞🌛</button>
{% endblock header %}


{% block content %}
<div class="formBackground">
  <h1 class="intro">FCAI Online Library</h1>
  <main class="form">
    <section class="Login">
      <h1>LOGIN</h1>
      <form class="Log in form">
        <div class="formElement">
          <input type="text" id="username" name="username" required />
          <span></span>
          <label for="username">Username</label>
        </div>

        <div class="formElement">
          <input type="password" id="password" name="password" required />
          <span></span>
          <label for="password">Password</label>
        </div>

        <div>
          <button type="submit" class="submit">Login</button>
        </div>
        <div class="oppositLink">
          <p><a href="#">Forgot password?</a></p>
          <!-- It will do nothing bec, there is no backend -->
          <p>For newcomer sign up : <a href="signup.html">Sign Up</a></p>
        </div>
      </form>
    </section>
  </main>
{% endblock content %}