{% extends 'layouts/base.html' %}
{% load static %}


{% block extrahead %}
<title>User Details</title>
{% endblock extrahead %}
  

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'Styles/ProfileStyles.css' %}" />
{% endblock extrastyle %}
  

{% block content %}
  
<h1>User Details</h1>
<div class="JoJo">
  <form>
    <div class="avatar-container">
      <label for="profilePicture">Profile Picture:</label>
      <!-- Hide the file input -->
      <input type="file" id="profilePicture" name="profilePicture" style="display: none;" />
      <!-- Add an image placeholder -->
      <label for="profilePicture" class="avatar-label">
        <img src="Images/PfP.jpg" alt="Avatar" class="avatar" />
      </label>
    </div>

    <div class="field">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" required />
    </div>

    <div class="field">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" required />
    </div>

    <div class="field">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
    </div>

    <div class="field">
      <label for="phoneNumber">Phone Number:</label>
      <input type="tel" id="phoneNumber" name="phoneNumber" required />
    </div>

    <div class="center-button">
      <input type="submit" value="Save" class="button" />
    </div>
  </form>
</div>

{% endblock content %}
