{% extends 'layouts/base.html' %}
{% load static %}


{% block extrastyle %}
<link rel="stylesheet" href="{% static '../static/Styles/Search.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock extrastyle %}
  

{% block content %}
<div class="MegumiinUwU2">
  <h1>Library Catalog</h1>
  <form id="searchForm">
    <input
      type="text"
      id="searchInput"
      placeholder="Enter book title, author, or genre..."
    />
    <button type="submit">Search</button>
  </form>
  <div id="searchResults">
    <!-- Search results will be displayed here -->
  </div>
</div>
{% endblock content %}
