
{% comment %}             WhatEver Code Need to be in the "<header></header>"                {% endcomment %}

<nav class="NavHome">

    {% if 1 %}
    
    <div class="title">FCAI Library</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
                <ul>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'adminsview' %}">Home</a></li>
                    <li><a href="{% url 'search' %}">Search</a></li>
                    <li><a href="{% url 'addBook' %}">Add Book</a></li>
                    <li><a href="{% url 'bookListing' %}">View Books</a></li>
                    <li><a href="{% url 'homePage' %}">Logout</a></li>
                </ul>
            </div>

    {% else %}
    <div class="title">FCAI Library</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="{% url 'homePage' %}">Home</a></li>
            <li><a href="{% url 'search' %}">Search</a></li>
            <li><a href="{% url 'bookList' %}">Book List</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">SignUp</a></li>
        </ul>
    </div>
    

    {% endif%}
</nav>
