

{% comment %}   COMMON JavaScript FILES  {% endcomment %}

<!-- A Script for the Dark Mode -->
<script src="../static/JavaScripts/DarkmodeButton.js" defer></script>

<!-- A Script for search -->
<script src="../static/JavaScripts/search.js" defer></script>

<!-- A Script for making a dynamiv Date Of Birth style -->
<script src="../static/JavaScripts/DOB.js"></script>

<!-- A Script for the validation of the password -->
<script src="../static/JavaScripts/password.js"></script>

<!-- A Script for the profile image -->
<script src="../static/JavaScripts/upload_profile_image.js"></script>

